html,
body {
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

main.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('/IMG_7087.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (min-height: 352px) {

}

@media (min-width: 492px) {
  main.masthead {
    height: calc(100vh - 60px);
    min-height: 10rem;
  }

    main.masthead p {
      font-size: 1.15rem;
    }

    main.masthead h1 {
      font-size: 3rem;
    }
}

@media (min-width: 1200px) {
  main.masthead h1 {
    font-size: 3.5rem;
  }
}

.codeArea {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
}

.CodeMirror {
  border-radius: 5px;
  border: 1px solid #efefef;
}

.red {
  background: #ff0000;
}

.code-toolbox {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #efefef;
  background-color: #f5f5f5;
}

  .code-toolbox .caption {
    display: inline-block;
    color: #808080;
    min-width: 7rem;
    border-right: 1px solid #808080;
    margin-right: 1rem;
  }

  .code-toolbox .shift {
    margin-right: 1rem;
  }

.mastfoot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: #efefef;
  font-size: 0.9rem;
}
